body {
	text-align: center;
	background: skyblue;
}

/*
* https://kasumiblog.org/checkbox-css/ 
* コピペした内容。webkitなどはあまり使わないほうが良かった気がする。
*/
input[type="checkbox"] {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}