* {
	box-sizing: border-box;
	margin: 0;
	/* background-color: #75D7F0; */
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/*
* 投稿一覧での投稿の表示
*/

div#dreams{
	background-color: #FFCD29;
	margin-bottom: 10px;
	/* color: #FFCD29; */
}


/*
* post.htmlの中身を
* 中央揃えにしている。(idやクラスを洗い出し、ページごとに共通にしたほうが良い。)
*/
#post-title,
#post-dreams,
#post-tag {
	margin-left: auto;
	margin-right: auto;
	width: 8em
}

#input-title,
#input-contents {
	margin-left: auto;
	margin-right: auto;
	width: 8em
}

/*
* https://kasumiblog.org/checkbox-css/ 
* コピペした内容。webkitなどはあまり使わないほうが良かった気がする。
*/
input[type="checkbox"] {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* チェックボックスデザイン */
input[type="checkbox"] {
	cursor: pointer;
	padding-left: 30px;
	/*label手前にチェックボックス用の余白を開ける*/
	vertical-align: middle;
	position: relative;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
	content: "";
	display: block;
	position: absolute;
}

input[type="checkbox"]::before {
	background-color: #fff;
	border-radius: 0%;
	border: 1px solid #666464;
	width: 20px;
	/*チェックボックスの横幅*/
	height: 20px;
	/*チェックボックスの縦幅*/
	transform: translateY(-50%);
	top: 50%;
	left: 5px;
}

input[type="checkbox"]::after {
	border-bottom: 3px solid #666464;
	/*チェックの太さ*/
	border-left: 3px solid #666464;
	/*チェックの太さ*/
	opacity: 0;
	/*チェック前は非表示*/
	height: 6px;
	/*チェックの高さ*/
	width: 11px;
	/*チェックの横幅*/
	transform: rotate(-45deg);
	top: -7px;
	/*チェック時の位置調整*/
	left: 10px;
	/*チェック時の位置調整*/
}

input[type="checkbox"]:checked::after {
	opacity: 1;
	/*チェック後表示*/
}

button {
	padding: 0;
	/* border: none; */
	outline: none;
	font: inherit;
	color: inherit;
	background: none
}

header {
	top: 0;
	position:fixed;
	height: 84.4px;
	width:  100%;
	background-color: #0D99FF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*
* header
*/

header .title {
	padding: 20px 60px;
	background-color: #FFCD29;
	border-radius: 10px;
}

/*
* main
*/

main {
	flex: 1;
	padding: 0 16px;
	margin-top: 84.4px;
	height: 80%;
	width: 100%;
	overflow-y: auto;
	background-color: #75D7F0;
}

main .dreams{
	background-color: #0D99FF;
}

main .space {
height: 85px;
}

/*
* footer
*/

footer {
	position:fixed;
	bottom: 0;
	height: 84.4px;
	width: 100%;
	background-color: #0D99FF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

footer .submit {
	padding: 20px 60px;
	background-color: #FFCD29;
	border-radius: 10px;
}