* {
  box-sizing: border-box;
  margin: 0;
  color: #353238;

  /* background-color: #6F9CEB; */
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  height: 100px;
}

/*
* 投稿一覧での投稿の表示
*/
#get-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

div .dreams {
  color: #353238;
  background-color: #eeeeee;
  border: 2px solid #353238;
  width: 80vw;
  border-radius: 16px;
  font-weight: bold;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[id^="dream-title"] {
  font-size: 20px;
  font-weight: bold;
  word-break: break-word;
}

[id^="dream-content"] {
  font-size: 20px;
  font-weight: bold;
  word-break: break-word;
}

/*
* post.htmlの中身を
* 中央揃えにしている。(idやクラスを洗い出し、ページごとに共通にしたほうが良い。)
*/

h2#title{
  display: inline-block;
  margin-top: 16px;
  font-weight: bold;
  border-bottom: 3px solid #666464;
  margin-bottom: 16px;
  font-size: 24px;
}

h2#post-tag{
  display: inline-block;
  margin-top: 16px;
  font-weight: bold;
  border-bottom: 3px solid #666464;
  margin-bottom: 16px;
  font-size: 24px;
}

#tags{
  /* display: flex; */
  flex-direction:row;
  justify-content:center;
  flex-wrap: wrap; 
}

.tag-box{
  display: inline-block;
}

#cancel-button{
  margin-right: 16px;
}


#input-title,
#input-contents {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

/*
* https://kasumiblog.org/checkbox-css/ 
* コピペした内容。webkitなどはあまり使わないほうが良かった気がする。
*/
input[type="checkbox"] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* チェックボックスデザイン */
input[type="checkbox"] {
  cursor: pointer;
  padding-left: 30px;
  /*label手前にチェックボックス用の余白を開ける*/
  vertical-align: middle;
  position: relative;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
  content: "";
  display: block;
  position: absolute;
}

input[type="checkbox"]::before {
  background-color: #fff;
  border-radius: 0%;
  border: 1px solid #666464;
  width: 20px;
  /*チェックボックスの横幅*/
  height: 20px;
  /*チェックボックスの縦幅*/
  transform: translateY(-50%);
  top: 50%;
  left: 5px;
}

input[type="checkbox"]::after {
  border-bottom: 3px solid #666464;
  /*チェックの太さ*/
  border-left: 3px solid #666464;
  /*チェックの太さ*/
  opacity: 0;
  /*チェック前は非表示*/
  height: 6px;
  /*チェックの高さ*/
  width: 11px;
  /*チェックの横幅*/
  transform: rotate(-45deg);
  top: -7px;
  /*チェック時の位置調整*/
  left: 10px;
  /*チェック時の位置調整*/
}

input[type="checkbox"]:checked::after {
  opacity: 1;
  /*チェック後表示*/
}

button {
  padding: 0;
  /* border: none; */
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

/*
* post-detail.htmlの中身を装飾
*/

#post-detail-title {
  display: inline-block;
  margin-top: 16px;
  border-bottom: 3px solid #666464;
  font-weight: bold;
  font-size: 24px;
}

#post-detail-tag {
  display: inline-block;
  margin-top: 16px;
  font-weight: bold;
  border-bottom: 3px solid #666464;
  font-size: 24px;
}

#post-detail-content {
  display: inline-block;
  margin-top: 16px;
  font-weight: bold;
  border-bottom: 3px solid #666464;
  font-size: 24px;
}

#post-detail-comment {
  display: inline-block;
  margin-top: 16px;
  font-weight: bold;
  border-bottom: 3px solid #666464;
  font-size: 24px;
}
/* Error state styling */
.textarea-error::placeholder {
  color: red;
}

/* Optional: Add some general styling to indicate an error, e.g., a red border */
.textarea-error {
  border: 1px solid red;
}

/* 名称一致しているところあるしやばくね？？
* 投稿一覧のページdreamsで管理するようにしちまったよ...あっちはクラスだけど...
*/
#dreams {
  display: inline-block;
  margin-top: 16px;
  font-weight: bold;
  border-bottom: 3px solid #666464;
  /* background-color: #EEEEEEE; */
  margin-bottom: 16px;
  font-size: 24px;
}

#dream-title {
  margin-top: 8px;
  font-size: 14px;
}

#dream-tag {
  margin-top: 8px;
  font-size: 14px;
}

#dream-content {
  margin-top: 8px;
  font-size: 14px;
}

.comment {
  margin-top: 8px;
  font-size: 14px;
}

#post-comment-button {
  /* padding: 8px 32px; */
  background-color: #eeeeee;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;

  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 150px; /* 例としての値。実際の幅に応じて変更してください */
}

/*
* profile
*/

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.post-container {
  align-items: center;
}

/*
* header
*/

header {
  top: 0;
  position: fixed;
  height: 84.4px;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  border-bottom: 2px solid #353238;
  justify-content: space-between; /* 3つの要素を等間隔に分散させる */
  padding: 10px;
}

header .title {
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 24px;
  color: #353238;
  padding: 10px 16px;
  /* background-color: #eeeeee; */
  border-radius: 10px;
}

#logout-button {
  padding: 8px 16px;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 2px solid #353238;
  font-weight: bold;
  font-size: 12px;
}

.user-circle {
  overflow: hidden;
  max-width: 30%;
  height: 70px;
  border-radius: 20px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 12px;
  border: 2px solid #353238;
}

/*
* main
*/

main {
  flex: 1;
  padding: 0 16px;
  margin-top: 84.4px;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  background-color: #bad3ff;
  margin-bottom: 84.4px;
}

/*
* footer
*/

footer {
  position: fixed;
  bottom: 0;
  height: 84.4px;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #353238;
}

#post-all{
  margin-right: 16px;
}

footer .submit {
  padding: 8px 32px;
  background-color: #eeeeee;
  border: 2px solid #353238;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

button.submit{
  /* padding-right: 16px; */
  /* gap: 16px; */
}

footer > .jump-index {
  margin-right: 16px;
}
#no-comment {
  display: none;
}
#with-comment {
  display: none;
}
